[user]
	name = ARS
	email = a@a.com
[safe]
	directory = /storage/emulated/0/64in1/Final_v4
	directory = /storage/emulated/0/64in1/Final_v4/Final_v4
	directory = /storage/emulated/0/64in1/Final_v5/Final_v5
	directory = /storage/emulated/0/64in1/Final_v5/Final_v5
	directory = /storage/emulated/0/64in1/Final_v5/Final_v5
	directory = /storage/emulated/0/64in1/Final_v5/Final_v5
	directory = /storage/emulated/0/64in1/Final_v6/Final_v6
	directory = /storage/emulated/0/64in1/Final_v6/Final_v6
	directory = /storage/emulated/0/64in1/Final_v6/Final_v6
	directory = /storage/emulated/0/64in1/Final_v7/Final_v7
	directory = /storage/emulated/0/64in1/Final_v8/Final_v8
	directory = /storage/emulated/0/64in1/Final_v8-1/Final_v8
	directory = /storage/emulated/0/64in1/Final_v9/Final_v9
	directory = /storage/emulated/0/64in1/Final_v10/Final_v10
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v11/Final_v11
	directory = /storage/emulated/0/64in1/Final_v12/Final_v12
	directory = /storage/emulated/0/64in1/Final_v12/Final_v12
	directory = /storage/emulated/0/64in1/Final_v12/Final_v12
	directory = /storage/emulated/0/64in1/Final_v13/Final_v13
	directory = /storage/emulated/0/64in1/Final_v13/Final_v13
	directory = /storage/emulated/0/64in1/Final_v14/Final_v14
	directory = /storage/emulated/0/64in1/Final_v15/Final_v15
	directory = /storage/emulated/0/64in1/Final_v15/Final_v15
	directory = /storage/emulated/0/64in1/Final_v15/Final_v15
	directory = /storage/emulated/0/64in1/Final_v15/Final_v15
	directory = /storage/emulated/0/64in1/Final_v15/Final_v15
	directory = /storage/emulated/0/64in1/Final_v16/Final_v16
	directory = /storage/emulated/0/64in1/Final_v16/Final_v16
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v17/Final_v17
	directory = /storage/emulated/0/64in1/Final_v16/Final_v16
	directory = /storage/emulated/0/64in1/Final_v16/Final_v16
	directory = /storage/emulated/0/64in1/Final_v16/Final_v16
	directory = /storage/emulated/0/64in1/Stable_v16/Stable_v16
	directory = /storage/emulated/0/64in1/Stable_v17/Stable_v17
	directory = /storage/emulated/0/64in1/Stable_v17/Stable_v17
	directory = /storage/emulated/0/64in1/Stable_v17/Stable_v17
	directory = /storage/emulated/0/64in1/Stable_v17/Stable_v17
	directory = /storage/emulated/0/64in1/Stable_v17/Stable_v17
	directory = /storage/emulated/0/64in1/Stable_v18/Stable_v18
	directory = /storage/emulated/0/64in1/Stable_v19/Stable_v19
	directory = /storage/emulated/0/64in1/Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_Stable_v20/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_Stable_v20_20260318/Stable_v20
	directory = /storage/emulated/0/64in1/ARS_FIXED/Stable_v20
[core]
	pager = cat
